# General
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.idea/
.DS_Store
*.swp

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Jupyter notebook sandbox
notebooks/00_sandbox.ipynb
sandbox/

# Data directories
data/*
# Except for the voices_to_clone directory
!data/input/audio/voices_to_clone

# Excluding specific files in voices_to_clone, as per your original .gitignore
!data/input/audio/voices_to_clone/audio_cf_10_seconds.wav
data/input/audio/guided_meditations/
data/input/audio/speech_to_transcribe/
data/input/text/
data/input/text_transcribed/
data/output/
data/raw/*

# Models directory
models/*
notebooks/checkpoint-*
notebooks/runs

# Additional notebook exclusions
notebooks/00_sandbox.ipynb
sandbox/

