# General
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.idea/
.DS_Store
*.swp

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Jupyter notebook sandbox
notebooks/00_sandbox.ipynb
sandbox/

# Data directories
data/input/audio/guided_meditations/
data/input/audio/speech_to_transcribe/
data/input/audio/voices_to_clone/audio_tnh.mp3
data/input/audio/voices_to_clone/cloned_voice.wav
data/output/

# Models directory
models/
